/* CSS files add styling rules to your content */
@font-face {
  font-family: "Roblox";
  src: url(fonts/Roblox-Font-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roblox";
  src: url(fonts/Roblox-Font-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Tag";
  src: url(fonts/aAnotherTag.ttf) format("truetype");
}
@font-face {
  font-family: "Homenaje";
  src: url(fonts/Homenaje-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Silkscreen";
  src: url(fonts/Silkscreen-Bold.ttf) format("truetype");
  font-weight: normal;
}

body, html {
  font-family: "Homenaje", sans-serif; 
  margin: 10px;
  background-color: #000000;
  color: #3300cc;
}

h1 {
  font-family: "Silkscreen", sans-serif;
  color: #00cc99;
}

h2 {
  font-family: "Silkscreen", sans-serif;
  color: #0099cc;
}

button {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  font-family: "Roblox", sans-serif;
}

 /* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.0);
  color: #99cc00;
  width: 100%;
  padding: 20px;
}
